body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  background-image: url(Green\ Modern\ Zoom\ Virtual\ Background.png);
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#loginForm, #registrationForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

#loginForm h2, #registrationForm h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

marquee {
  font-size: 1.5em;
  color: #333;
}

#registrationForm {
  order: -1; /* Move registration form to the top */
}

#loginForm,
#registrationForm.active {
  display: block;
}
